<!DOCTYPE html>
<html lang="ko">
<%- partial('head') %>  <!-- head.ejs를 가져올것 -->
<body id="">
    <div id="page">
        <%- partial('header') %>    <!-- header.ejs를 가져올것 -->
        <%- body %>                 <!--  -->
        <%- partial('footer') %>    <!-- footer.ejs를 가져올것 -->
    </div>
</body> 
</html>