<div class="container-fluid">
    <!-- Navigation -->
    <div class="navbar navbar-dark bg-dark">
        <a href="/blockchain" class="navbar-brand">
            블록체인 데모
        </a>
        <div>
                <a href="/eth/accountlist"class="btn btn-outline-light">AccountList</a>
            <a href="/eth/pendingtransaction"class="btn btn-outline-light">Pending TX</a>
            <a href="/eth/setting"class="btn btn-outline-light">Settings</a>
            <a href="/eth/createtx" class="btn btn-outline-light">Create TX</a>
        </div>
    </div>
</div>